:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
/* 
*****     Informs the browser that your page supports specific OS       *****
*****     color schemes, allowing the browser's default styles (user    *****  
*****     agent stylesheet) to update automatically.                    *****

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

/*
*****     Allows you to write custom CSS styles that are applied only   *****
*****     when the user's system preference matches the query.          *****
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
*/
